Source: journalbeat
Section: utils
Priority: optional
Maintainer: Sebastien Badia <seb@sebian.fr>
Homepage: https://github.com/mheese/journalbeat
Vcs-Git: https://github.com/sbadia/journalbeat-deb
Vcs-Browser: https://github.com/sbadia/journalbeat-deb
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-systemd,
               git,
               golang-go (>= 2:1.6) | golang-1.6-go,
               libsystemd-dev

Package: journalbeat
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Log shipper from systemd/journald to Logstash/Elasticsearch
 Journalbeat is the Beat used for log shipping from systemd/journald based Linux
 systems. It follows the system journal very much like journalctl -f and sends
 the data to Logstash/Elasticsearch (or whatever you configured for your beat).
 .
 Journalbeat is targeting pure systemd distributions like CoreOS, Atomic Host,
 or others. There are no intentions to add support for older systems that do not
 use journald.
 .
 This is the main package. It installs the journalbeat binary.
