#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_clean:
	rm -rf go

override_dh_auto_build:
	mkdir -p $(CURDIR)/go/pkg $(CURDIR)/go/bin $(CURDIR)/go/src $(CURDIR)/usr/bin/ $(CURDIR)/.git
	cd $(CURDIR)/go && PATH=$$PATH:/usr/lib/go-1.6/bin GOPATH=$(CURDIR)/go \
		go get github.com/mheese/journalbeat
	cp $(CURDIR)/go/bin/* $(CURDIR)/usr/bin/
	cd $(CURDIR)

override_dh_auto_test:

%:
	dh $@

.PHONY: build
