#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_clean:
	rm -rf go usr/bin usr/share etc

override_dh_auto_build:
	mkdir -p go/src/github.com/mheese/journalbeat go/pkg usr/bin go/envs
	ln -sf $(CURDIR) go/src/github.com/mheese/journalbeat
	PATH=$$PATH:/usr/lib/go-1.6/bin GOPATH=$(CURDIR)/go \
		go build \
		-ldflags "-X main.GitCommit=$${GIT_COMMIT} -X main.GitDescribe=$${GIT_DESCRIBE}" \
		-o usr/bin/journalbeat github.com/mheese/journalbeat

override_dh_auto_test:

%:
	dh $@

.PHONY: build
