#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_clean:
	rm -rf go etc

override_dh_auto_build:
	mkdir -p /go/pkg /go/bin /go/src $(CURDIR)/usr/bin/ $(CURDIR)/.git
	cd /go && PATH=$$PATH:/usr/lib/go-1.6/bin GOPATH=/go \
		go get github.com/mheese/journalbeat
	cp /go/bin/* $(CURDIR)/usr/bin/
	cd $(CURDIR)
	#mkdir -p /go/src/github.com/mheese/ /go/{pkg,bin}
	#ln -sf $(CURDIR) /go/src/github.com/mheese/journalbeat
	#cd /go/src/github.com/mheese/journalbeat
	#	PATH=$$PATH:/usr/lib/go-1.6/bin GOPATH=/go \
	#	tree && go build \
	#	-ldflags "-X main.GitCommit=$${GIT_COMMIT} -X main.GitDescribe=$${GIT_DESCRIBE}" \
	#	-o /go/bin/journalbeat
	#cd $(CURDIR)

override_dh_auto_test:

%:
	dh $@

.PHONY: build
